@font-face {
    font-family: 'Red Ring';
    src: url(../fonts/RedRing-Medium.ttf);
}

body {
    font-family: 'Red Ring';
    font-size: 16px;
    font-weight: medium;
}

wrapper {
    max-width: 1060px;
    text-align: center;
    margin: 0 auto;
}

header {
    box-sizing: border-box;
    line-height: 60%;
}

.header-text {
    font-size: 24px;
}

input[type=text] {
    width: 300px;
    height: 35px;
    margin: 7px;
    border: 1.75px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Red Ring';
}

input[type=button] {
    background-color: black;
    width: 75px;
    height: 25px;
    margin: 7px;
    border: 1.75px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Red Ring';
    color: white;
}

main {
    height: 100vh;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}